.navbar{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top:20px !important
}
@media(max-width:525px){
  .navbar{
    display:block
  }
  .container > button:nth-child(1){
    margin: 10px 50px
  }
}
.navbar-active{
  border-bottom: 4px solid #d6322d
}
.navbar-left{
  width: 40%;
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-right{
  margin-right: 40px
}
.navbar span{
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
}
.login-btn{
  background-color: #d6322d;
  padding: 15px 30px;
  font-size: 1.2rem;
  color: white;
  border:none;
  border-radius: 50px;
  display: flex;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
}
.g-logo{
  width: 30px;
  margin-right: 10px
}
.logo{
  width: 40px
}
.navbar a{
  text-decoration: none;
  color: black
}
