.footer{
  width: 100%;
  background-color: var(--footer-bg);
  position: fixed;
  bottom: 0;
  padding: 10px;
  color: var(--footer-font-color);
  display: flex;
  justify-content: space-between;
}
.footer-right{
	display: flex
}
.footer-right a{
  color: var(--footer-font-color);
}
.footer p{
  margin: 0 15px 0 0
}
@media(max-width: 525px){
  .footer{ 
    display: block !important
  }
  .telegram-dropdown{
    left: 0;
    bottom:40px !important
  }
  .telegram-button{
    margin-left: 0px !important;
    padding: 0 0.75rem 0 0!important;
    margin-top:4px
    
  }
  .footer-right{
    margin-top:10px
  }
}
.telegram-button{
  font-size: 1.2rem;
  color: var(--nav-font);
  border-radius: 5px;
  margin-left: 40px;
  padding: 0.25rem 0.75rem;
  position: relative;
  bottom:4px
}
.telegram-dropdown{
  position: absolute;
  display: none;
  flex-direction: column;
  width: 150px;
  background-color: #333;
  bottom:30px;
  right: 0;
  text-decoration: none !important;
  border-radius: 5px;
  text-align: right;
  padding: 0.5rem; 
}
.telegram-dropdown a{
  color: var(--nav-font);
}
.telegram-dropdown a:first-child{
  padding: 0.25rem 0;
}
.telegram-button:hover .telegram-dropdown{
  display: flex;
}
