.footer{
  width: 100%;
  background-color: var(--footer-bg);
  position: fixed;
  bottom: 0;
  padding: 10px;
  color: var(--footer-font-color);
  display: flex;
  justify-content: space-between;
}
.footer-right{
	display: flex
}
.footer-right a{
  color: var(--footer-font-color);
}
.footer p{
  margin: 0 15px 0 0
}
@media(max-width: 525px){
  .footer{
    justify-content: center;
  }
}