.notes-list table{
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
.notes-list table th, .notes-list table td{
    padding: 10px !important
}
.notes-list table tr:nth-child(odd){
    background: green
}
.notes-list table th{
    background: coral
}
a{
  text-decoration: none;
  color: black
}
.notes-list table tr:nth-child(even){
    background: aqua
}
.form-group{
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;
    margin: 10px
}
form{
    margin: auto !important;
    border: 2px solid black;
    width: fit-content;
    padding: 20px;
    margin-top: 40px;
    border-radius: 15px;
    background: white
}
.notes-list {
    width: 80%;
    margin-left: 10%;
}
.notes-list button{
    padding: 10px 20px;
    font-size: 1.5rem;
    background: teal;
    border: none;
    border-radius: 15px;
    color: white
}
.delBtn{
    color: blue;
    text-decoration: underline
}
body{
    background: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}
h1{
    color: black;
    margin-left: 10%
}
form input{
    padding: 10px;
    box-shadow: 6px 10px 10px gray
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  width: 80%;
  margin: auto;
}
@media(max-width: 525px){
    .grid{
        grid-template-columns: 1fr
    }
    .mainDivBody{
        margin-top:30% !important
    }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotate img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }}
